<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>works</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <h1>Companys and business of the king</h1>
    <a href="https://www.tesla.com/pt_pt">Tesla</a>
<p></p>
    <a href="https://www.spacex.com/">SpaceX</a>
    <p></p>
    <a href="https://pt.wikipedia.org/wiki/Neuralink">Neuralink</a>
 <p></p>
    <a href="https://coinmarketcap.com/pt-br/currencies/dogecoin/">DogeCoin</a>
    <p></p>
    <a href="/home">Back to the home page</a>
</body>
</html>